<!-- Designer: Dr. Web (@drweb) -->
<!-- Source: https://codepen.io/drweb/pen/VwYNjxG -->
<nav>
    <ul>
        <li><a href="#">Software Project Manager</a></li>
        <li><a href="#">Admin</a>
        <!-- First Tier Drop Down -->
        <ul>
            <li><a href="#">Create User</a></li>
            <li><a href="#">Users</a></li>
            <li><a href="#">Configuration</a></li>
        </ul>
        <li><a href="#">Product Manager</a>
        <!-- First Tier Drop Down -->
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Create Project</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Create Task</a></li>
            <li><a href="#">Backlog</a></li>

        </ul>
        <li><a href="#">Developer</a>
        <!-- First Tier Drop Down -->
        <ul>
            <li><a href="#">Task Board</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#"></a></li>
        </ul>
        </li>
        <li><a href="#">User Profile</a>
        <!-- First Tier Drop Down -->
        <ul>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Logout</a></li>
            <li><a href="#"></a></li>
        </ul>
        </li>
    </ul>
</nav>
